{% extends "desktop/base.html" %}

{% block title %}Contact Us – ZDN Home{% endblock %}

{% block content %}

<section class="contact-page">
  <div class="contact-hero">
    <p class="contact-kicker">Zidane Home</p>
    <h1>Contact Us</h1>
    <p>
      For inquiries, custom orders, and showroom visits, our team is ready to help you.
    </p>
  </div>

  <div class="contact-grid">

    <div class="contact-card">
      <h2>Get in Touch</h2>

      <div class="contact-item">
        <span>Phone</span>
        <a href="tel:01225555392">01225555392</a>
        <a href="tel:01111057128">01111057128</a>
      </div>

      <div class="contact-item">
        <span>WhatsApp</span>
        <a href="https://wa.me/201111057128" target="_blank">
          Chat on WhatsApp
        </a>
      </div>

      <div class="contact-item">
        <span>Instagram</span>
        <a href="https://www.instagram.com/zidane.home" target="_blank">
          Follow us on Instagram
        </a>
      </div>
    </div>

    <div class="contact-card">
      <h2>Visit Our Showroom</h2>
      <p>
        Discover our latest living, dining, bedroom, and custom furniture collections.
      </p>

      <div class="map-box">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.8324408806698!2d31.3239155!3d30.098984800000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458158ec87b4a7d%3A0x43a22e330aa13ffb!2sGallery%20Zedan!5e0!3m2!1sen!2seg!4v1777051457786!5m2!1sen!2seg"
       width="600" height="450" style="border:0;"
        allowfullscreen="" loading="lazy"
         referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>

  </div>
</section>

{% endblock %}