  <!-- ================= FOOTER START ================= -->
  <footer>
    <div class="footer-container">

        <!-- Column 1: Our Company -->
        <div class="footer-column">
            <h3>Our Company</h3>
            <ul>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">Sustainability</a></li>
            </ul>
        </div>

        <!-- Column 2: Customer Care -->
        <div class="footer-column">
            <h3>Customer Care</h3>
            <ul>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Delivery Info</a></li>
                <li><a href="#">Returns & Exchanges</a></li>
            </ul>
        </div>

       

        <!-- Column 4: Useful Links -->
        <div class="footer-column">
            <h3>Useful Links</h3>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Cookie Settings</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </div>

         <!-- Column 3: Our Showroom Locations -->
       <div class="footer-showroom">
  <h4>Our Showroom</h4>
  <p>Cairo – 3 Beirut St.<br>Heliopolis</p>

  <div class="footer-map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3451.8322796818425!2d31.321340575063413!3d30.09898941598511!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458158ec8f00001%3A0x56a9b762547004bb!2s3%20Beirut%2C%20El-Bostan%2C%20Heliopolis%2C%20Cairo%20Governorate%204460270!5e0!3m2!1sen!2seg!4v1767795111702!5m2!1sen!2seg"
      loading="lazy"
      allowfullscreen
      referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>


    </div>
</footer>
<!-- ================= FOOTER END ================= -->
